<div style="margin-top: 8%">
  <h1>👉 Expired task 🔴</h1>
  <h1>👉 Task expiring today 🟡</h1>
  <h1>👉 Due Date is Far ⚪</h1>
</div>
<div>
  <div *ngIf="showMessage">
    <h1>You have No Task in process</h1>
  </div>
  <mat-card class="example-card" *ngFor="let card of allTaskByStatus.reverse()" [ngClass]="{
      'due-task': isDueDateTask(card),
      'previous-task':isPreviousDateTask(card),
    }">
    <mat-card-header class="head">
      <mat-card-title> {{ card.title }}</mat-card-title>
      <mat-card-subtitle class="text text1">
        Created On:- {{ card.createdDateTime }} | Priority :-
        {{ card.priority }}</mat-card-subtitle>
    </mat-card-header>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="fullForm">
        <mat-expansion-panel-header>
          <mat-panel-title> View more... </mat-panel-title>
        </mat-expansion-panel-header>
        <hr />
        <mat-card-content class="desc">
          {{ card.description }}
        </mat-card-content>
        <mat-card-content>
          <div *ngIf="card.imgUrl != ''">
            <img id="img" [src]="card.imgUrl" height="200px" style="width: 300px" />
          </div>
        </mat-card-content>
        <mat-card-subtitle class="date">
          Due Date : - {{ card.dueDateTime }}</mat-card-subtitle>
        <mat-card-actions>
          <div class="but">
            <div>
              <span class="material-icons" matTooltip="Done" matTooltipPosition="above"
                (click)="updateTaskStatus(card)">
                done_all</span>
            </div>
            <div>
              <span class="material-icons" matTooltip="Edit" matTooltipPosition="above"
                routerLink="../edittask/{{ card.title }}">mode_edit</span>
            </div>
            <div>
              <span class="material-icons" matTooltip="Delete" matTooltipPosition="above"
                (click)="deleteTaskById(card.taskId)">delete</span>
            </div>
          </div>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
